<div id="formbody">
  <div class="container">
    <div class="row">
      <form *ngIf="UpdatedPasswordForm" [formGroup]='UpdatedPasswordForm' (ngSubmit)="submitPasswordForm()"
        class="container col-lg-6 myform" height="600">
        <div class="main">

          <label for="OldPassword" class="fw-lighter">Enter Old password :</label>
          <div class="col-sm-12">
            <input formControlName="OldPassword" placeholder="old password..." type="text" class="form-control form-control-lg" name="">
          </div>
          <label for="NewPassword" class="fw-lighter">Enter New Password :</label>
          <div class="col-sm-12">
            <input formControlName="NewPassword" placeholder="new password..." type="text" class="form-control form-control-lg" name="">
          </div>
          <label for="ConfirmPassword" class="fw-lighter">Confirm Your Password :</label>
          <div class="col-sm-12">
            <input formControlName="ConfirmPassword" placeholder="confirm password..." type="text" class="form-control form-control-lg" name="">
          </div>

          <div class="col-sm-12 mt-2">

            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <div *ngIf="SucessResponse" class="alert alert-success" role="alert">Password Updated Succcessfully</div>
      <div *ngIf="InvalidData" class="alert alert-danger" role="alert"> <span>Password Not Updated</span></div>

    </div>
  </div>
</div>
