.body, html {
    background-image: url("/assets/flower.jpg");
   background-color: #cccccc;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  
 }


  .body22 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #EEF0F7;
   display: grid;
   place-items: center;
   min-height: 100vh;
   overflow: hidden;
 }
 
 .container {
   background-color: primary-color;
   top:0;
   width: 1100px;
   height: 1200px;
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   line-height: 1.5;
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
 }
 /* ///instead of labels//style for the form */
 img{margin-top: -250px;}
 .login__input {
	background-color: transparent;
  border: 1px solid darkgray;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 13px;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 91%;
	transition: .2s;
}
label{margin-left: 15px;}
.name{margin-left: 3px; padding-right:2px;padding-left: 10px;}
.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}
 /* ///// */
  #foot{
   position: relative;
   top: 15px;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   border: none;
   padding: 15px;
   border-radius: 15px;
   box-shadow: 0 0 8px #d9d4e7;
   width: 200px;
   height: 65px;
   background-color: #a83e4c;
   animation-duration: 5s;
 }
 
 .btn{
  background: linear-gradient(to right, #d3708e, #c79e67 );
  border:none;
  border-radius: 30px;
  width: 110px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: bold;
  padding: 17px;
  margin-top: 40px;
  color:rgb(248, 237, 237);
}
.btn:hover{
  transform: scale(1,1.2);
  cursor: pointer;
  border: 2px solid #e49917;
  color: #ffcc74;
  transition: 0.3s;
}