<footer>
    <img src="../../../assets/wave2.png">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 footer-box">
                <img src="../../../assets/4f4dc6ff-710b-423f-ad40-92c3b4a56d81.png">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam eveniet,
                    reprehenderit earum voluptate, amet excepturi
                     Corporis soluta nisi exercitationem laboriosam?</p>
            </div>
            <div class="col-md-4 footer-box contact-us">
                <h3 class="contact">contact us</h3>
                <p><i class="fa fa-phone"></i>&nbsp;+02 01098765432</p>
                <p><i class="fa fa-envelope"></i>&nbsp;fashion@gmail.com</p>

            </div>
            <div class="col-md-4 footer-box social">
                <h3 class="contact">social media</h3>
                <a href="#"><img src="../../../assets/facebook-icon.png" class="icon"></a>
                <a href="#"><img src="../../../assets/instagram-icon.png" class="icon"></a>
                <a href="#"><img src="../../../assets/linkedin-icon.png" class="icon"></a>
                <a href="#"><img src="../../../assets/twitter-icon.png" class="icon"></a>
            </div>
            <div>
                <hr>
                <p class="copyrights">website copy rights @ 2022</p>
            </div>
        </div>

    </div>
</footer>
