/* .card{
    width:640px; */
.profile-head {
    transform: translateY(5rem);
}

.cover {
    background-image: url("../../../assets/tailor.jpg");
    background-size: cover;
    height: 420px;
    background-repeat: no-repeat;
}
.cover .image{
    margin-bottom: -60px;
    margin-left: -30px;
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 150px;
}
.data{
    margin-left: 310px;
    margin-top: -70px;
}
.btn-outline-dark{
    margin-top: 20px; margin-right: 20px;
}
.inline{
    float: left;
}
.bg-white{
    margin-left: 350px;
    margin-top: -130px;
    overflow-x:hidden;
    width: 850px;
}
ul{
    margin-right: 120px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
}
ul li .color{
    color: rgb(104, 21, 104);
}