<section id="users">
    <img src="../../../assets/wave2.png" class="wave">
    <div class="container text-center">
        <h1 class="title">Our Users</h1>
        <div class="row text-center">
            <div class="col-md-4 user">
                <img src="../../../assets/This Tiny San Francisco Apartment Is Our Bachelorette Dream - The Everygirl.jpg">
                <h4>Designer</h4>
                <p>deal with brilliant designers to design your own design with your criteria.to make sure that 
                     someone proffesional implement what you want to make your memories special.
                </p>
                    <button class="btn" routerLink="/Desginers">Designers</button>
            </div>
            <div class="col-md-4 user">
                <img src="../../../assets/25180d23-4196-43a7-a87a-b631864146fa.jpg">
                <h4>Tailor</h4>
                <p>deal with expert tailors to implement your design or your vision with proffesional finishing.
                    to make sure that someone proffesional implement what you want to make your memories special.</p>
                    <button class="btn" routerLink="/Tailors">Tailors</button>
            </div>
            <div class="col-md-4 user">
                <img src="../../../assets/A Visit to the World's Finest Fabric Shop _ So Sew Easy.jpg">
                <h4>Store</h4>
                <p>find what you search about from a group of stores having a major and wide collection of
                    fabrics. all in one place, so you can take your decision for what you want.
                </p>
                    <button class="btn" routerLink="/Stores">Stores</button>
            </div>
           

        </div>
    </div>
    <img src="../../../assets/wave1.png" class="wave">
</section>
