<section >
    <div class="container content">
        <p>Fashion design provides a community that collect client,  fabric stores,  designers and tailors all in one place. Provides services for each of them for client : can shop from fabric stores,  connect with designers to make a specific design or any design he wants,  also connect with tailors and make an order. 
            For designer& tailor& store :  can display their designs or works on their page and the site provides a chat service to chat with designer& tailor& store to know more details and make a deal or offer to be ordered.
            </p>
    </div>
</section>
