<!-- <section id="users">
    <div class="container text-center">
        <h1 class="title">Our Team</h1>
        <div class="row text-center">
            <div class="col-md-3 user">
                <img src="../../../assets/me2.jpeg">
                <h4>elham balbaa</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo vero tempore nobis minus asperiores possimus provident praesentium 
                    aperiam rerum doloremque alias.</p>
                    <button class="btn">GitHub Link</button>
            </div>
            <div class="col-md-3 user">
                <img src="../../../assets/undraw_shopping_re_hdd9.svg">
                <h4>Menna mohamed</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo vero tempore nobis minus asperiores possimus provident praesentium 
                    aperiam rerum doloremque alias.</p>
                    <button class="btn">GitHub Link</button>
            </div>
            <div class="col-md-3 user">
                <img src="../../../assets/undraw_business_decisions_re_84ag.svg">
                <h4>mary akram</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo vero tempore nobis minus asperiores possimus provident praesentium 
                    aperiam rerum doloremque alias.</p>
                    <button class="btn">GitHub Link</button>
            </div>
            <div class="col-md-3 user">
                <img src="../../../assets/undraw_web_shopping_re_owap.svg">
                <h4>Abdelrahman</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo vero tempore nobis minus asperiores possimus provident praesentium 
                    aperiam rerum doloremque alias.</p>
                    <button class="btn">GitHub Link</button>
            </div>

        </div>
    </div>
</section> -->
<!----------------------------------------another one-------------------------------------->
<section>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBox">
                    <img src="../../../assets/me.jpeg">
                </div>
                <div class="contentBox">
                    <h5>Elham Muhammed</h5>
                    <h6>Full Stack Developer</h6>
                </div>
                <div class="social">
                    <a href="https://github.com/Elham595" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/elham-muhammed-b69343172/"target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBox">
                    <img src="../../../assets/menna.jpeg">
                </div>
                <div class="contentBox">
                    <h5>Menna Muhammed</h5>
                    <h6>Full Stack Developer</h6>
                </div>
                <div class="social">
                    <a href="https://github.com/mennamoh" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/menna-mohamed-90136514b" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBox">
                    <img src="../../../assets/mary.jpeg">
                </div>
                <div class="contentBox">
                    <h5>Mary Akram Fouad</h5>
                    <h6>Full Stack Developer</h6>
                </div>
                <div class="social">
                    <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/mary-akram" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBox">
                    <img src="../../../assets/">
                </div>
                <div class="contentBox">
                    <h5>Abdelrahman Ragab</h5>
                    <h6>Full Stack Developer</h6>
                    <!-- <h6>الواد اللي بوظلنا ال project</h6> -->
                </div>
                <div class="social">
                    <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>
