<header class="parent">
        <div class="container myheader">
           
            <!-- ONLYY FOR CHECKKK -->
            <!-- <a routerLink="/Tailors" >GO TO TAILORS</a> 
            <a routerLink="/Desginers" >GO TO Designers</a>  -->
            <!-- <app-navbar></app-navbar> -->
            <!-- <span class="span1"></span>
            <span class="span2"></span>
            <span class="span3"></span> -->
            <!-- <div class="container"> -->
        
            <app-view-components-home></app-view-components-home>
                            <!-- <h1></h1><br>
                            <p>to make a community that allow all services that related to fabrics and designing clothes.
                                 to make it more easier for the client to make an order although buying a fabric only or 
                                 make a design. help tailors and designers to market their works and make new clients. 
                            </p> -->
        </div>
        <img src="../../../assets/wave1.png">
</header>
