<!-- <app-header></app-header>
<app-section></app-section>
<app-team></app-team> 
<app-footer></app-footer> -->
<section class="">
   <div class="main container">
        <div class="col-md-6 content">
            <div class="col-md-12">
                <h1>we <i class="fa-solid fa-face-grin-hearts"></i>what we do</h1>
                <p>we want to make it special for everyone who wants to expand or build her/his career as designer, tailor
                or even store. display and market their works and make a community for them.
                    to make it easy for the client to make her/his desired design from buying the fabric, 
                    make the design and finish it with the shape and way she/he loves it. 
                    we want to make it easy for people to make happy moments and memories with 
                    saving time and effort by proving all these services in one place.
                </p>
            </div>
            <div class="col-md-12 social">
                <a href="#"><i class="fa-brands fa-facbook"></i></a>  
                <!-- <a href="#"><img src="../../../assets/instagram-icon.png" class="icon"></a>
                <a href="#"><img src="../../../assets/linkedin-icon.png" class="icon"></a>
                <a href="#"><img src="../../../assets/twitter-icon.png" class="icon"></a> -->
            </div>
            
        </div>
        <div class="col-md-6 image">
            <img src="../../../assets/1.jpg">
        </div>
   </div>
</section>
